.project-summary {
	width: 360px;
	display: inline-block;
}

.project-summary-subheader {
	background-color: white;
}

.project-summary-content {
	padding: 0px;
}



.project-summary-row {
	height: 48px;
}

.metric-label {
	width: 200px;
	padding-top: 16px;
}
.metric-diff {
	width: 60px;
	padding-top: 16px;
	text-align: right;
	font-weight: bold;
}
.metric-more-info {
	width: 60px;
	padding-left: 10px;
}
.metric-more-info .md-button {
	min-width: 30px;
}

.status-none {
	color: orange;
}
.status-improvement {
	color: green;
}
.status-decline {
	color: red;
}

.history-header {
	border-bottom-color: rgba(0,0,0,0.12);
	border-bottom-width: 1px;
    border-bottom-style: solid;
	border-top-color: rgba(0,0,0,0.12);
	border-top-width: 1px;
    border-top-style: solid;
	padding-top: 8px;
	padding-bottom: 8px;
}

.history-header .history-analysisDate {
	width: 220px;
	text-align: center;
	font-size: 12sp;
	color: rgba(0, 0, 0, 0.54);
	font-family: 'Roboto';
}
.history-header .history-coverage {
	width: 100px;
	text-align: center;
	font-size: 12sp;
	color: rgba(0, 0, 0, 0.54);
	font-family: 'Roboto';
}
.history-header .history-duplicatedLinesDensity {
	width: 100px;
	text-align: center;
	font-size: 12sp;
	color: rgba(0, 0, 0, 0.54);
	font-family: 'Roboto';
}
.history-header .history-functionComplexity {
	width: 100px;
	text-align: center;
	font-size: 12sp;
	color: rgba(0, 0, 0, 0.54);
	font-family: 'Roboto';
}

.history-header .history-build-number {
	width: 100px;
	text-align: center;
	font-size: 12sp;
	color: rgba(0, 0, 0, 0.54);
	font-family: 'Roboto';
}

.history-header .history-build-changes {
	width: 850px;
	text-align: center;
	font-size: 12sp;
	color: rgba(0, 0, 0, 0.54);
	font-family: 'Roboto';
}

.history-row {
	font-size: 13sp;
	color: rgba(0, 0, 0, 0.87);
	font-family: 'Roboto';
	border-bottom-color: rgba(0,0,0,0.12);
	border-bottom-width: 1px;
    border-bottom-style: solid;
	min-height: 36px;
	padding-top: 8px;
}

.history-row .history-analysisDate {
	width: 220px;
	text-align: center;
}
.history-row .history-coverage {
	width: 100px;
	text-align: right;
}
.history-row .history-duplicatedLinesDensity {
	width: 100px;
	text-align: right;
}
.history-row .history-functionComplexity {
	width: 100px;
	text-align: right;
}
.history-row .history-build-number {
	width: 100px;
	text-align: center;
}
.history-row .history-build-changes {
	width: 100%;
}
.history-row .history-build-changes-row {
	border-bottom-color: rgba(0,0,0,0.12);
	border-bottom-width: 1px;
    border-bottom-style: solid;
	padding-top: 8px;
	padding-bottom: 8px;
}

.history-row .history-build-changes-username {
	width: 150px;
	text-align: left;
}

.history-row .history-build-changes-comment {
	text-align: left;
}