.project-summary {
	width: 380px;
	display: inline-block;
}

.project-summary-subheader {
	background-color: white;
}

.project-summary-content {
	padding: 0px;
}



.project-summary-row {
	height: 48px;
}

.metric-label {
	width: 200px;
	padding-top: 16px;
}
.metric-diff {
	width: 60px;
	padding-top: 16px;
	text-align: right;
	font-weight: bold;
}
.metric-more-info {
	width: 90px;
}

.status-none {
	color: orange;
}
.status-improvement {
	color: green;
}
.status-decline {
	color: red;
}

div.history-header div.history-analysisDate {
	width: 220px;
	text-align: center;
	font-weight: bold;
}
.history-header .history-coverage {
	width: 100px;
	text-align: center;
	font-weight: bold;
}
.history-header .history-duplicatedLinesDensity {
	width: 100px;
	text-align: center;
	font-weight: bold;
}
.history-header .history-functionComplexity {
	width: 100px;
	text-align: center;
	font-weight: bold;
}

.history-header .history-build-number {
	width: 100px;
	text-align: center;
	font-weight: bold;
}

.history-header .history-build-changes {
	width: 850px;
	text-align: center;
	font-weight: bold;
}


.history-row .history-analysisDate {
	width: 220px;
	text-align: center;
}
.history-row .history-coverage {
	width: 100px;
	text-align: right;
}
.history-row .history-duplicatedLinesDensity {
	width: 100px;
	text-align: right;
}
.history-row .history-functionComplexity {
	width: 100px;
	text-align: right;
}

.history-row .history-build-number {
	width: 100px;
	text-align: center;
}

.history-row .history-build-changes {
	width: 850px;
}

.history-row .history-build-changes-username {
	width: 150px;
	text-align: left;
	font-size: small;
}

.history-row .history-build-changes-comment {
	width: 700px;
	text-align: left;
	font-size: small;
}