.metrics {
	width: 420px;
}

.metric-row {
	height: 30px;
	padding-top: 7px;
}

.metric-label {
	width: 170px;
	display: inline-block;
}
.metric-diff {
	width: 60px;
	text-align: right;
	font-weight: bold;
}
.status-none {
	color: orange;
}
.status-improvement {
	color: green;
}
.status-decline {
	color: red;
}
.metric-change {
	width: 150px;
	text-align: center;
	padding-left: 5px;
	font-size: small;
}
