<div layout="row">
	<md-card ng-repeat="project in projects track by $index" class="metrics">
		<md-toolbar layout="row" class="md-hue-3">
			<div class="md-toolbar-tools">
				<span>{{project.name}}</span>
			</div>
		</md-toolbar>		
		<md-card-content>
			<div layout="row" class="metric-row">
				<div layout="column" class="metric-label">Blocker Issues</div>
				<div layout="column" class="metric-diff">
					{{project.blockerIssues.diff}}
				</div>
				<div layout="column" class="metric-change">
					({{project.blockerIssues.first}} =&gt; {{project.blockerIssues.last}})
				</div>
			</div>
			<div layout="row" class="metric-row">
				<div layout="column" class="metric-label">Critical Issues</div>
				<div layout="column" class="metric-diff">
					{{project.criticalIssues.diff}}
				</div>
				<div layout="column" class="metric-change">
					({{project.criticalIssues.first}} =&gt; {{project.criticalIssues.last}})
				</div>
			</div>
			<div layout="row" class="metric-row">
				<div layout="column" class="metric-label">Other Issues</div>
				<div layout="column" class="metric-diff">
					{{project.otherIssues.diff}}
				</div>
				<div layout="column" class="metric-change">
					({{project.otherIssues.first}} =&gt; {{project.otherIssues.last}})
				</div>
			</div>
			<div layout="row" class="metric-row">
				<div layout="column" class="metric-label">Coverage</div>
				<div layout="column" class="metric-diff">
					{{project.coverage.diff | number:1}}%
				</div>
				<div layout="column" class="metric-change">
					({{project.coverage.first}}% =&gt; {{project.coverage.last}}%)
				</div>
			</div>
			<div layout="row" class="metric-row">
				<div layout="column" class="metric-label">Duplicates</div>
				<div layout="column" class="metric-diff">
					{{project.duplicatedLinesDensity.diff | number:1}}%
				</div>
				<div layout="column" class="metric-change">
					({{project.duplicatedLinesDensity.first}}% =&gt; {{project.duplicatedLinesDensity.last}}%)
				</div>
			</div>
			<div layout="row" class="metric-row">
				<div layout="column" class="metric-label">Function Complexity</div>
				<div layout="column" class="metric-diff">
					{{project.functionComplexity.diff | number:1}}
				</div>
				<div layout="column" class="metric-change">
					({{project.functionComplexity.first}} =&gt; {{project.functionComplexity.last}})
				</div>
			</div>
		</md-card-content>
	</md-card>
</div>
