<md-card ng-repeat="project in projects track by $index" class="project-summary">
	<md-toolbar layout="row" class="md-hue-3">
		<div class="md-toolbar-tools">
			{{project.name}}
			<md-button class="md-secondary" ng-click="displayProjectHistory(project)"><i class="material-icons">history</i></md-button>
		</div>
	</md-toolbar>		
	<md-subheader class="md-no-sticky project-summary-subheader">
		Baseline: {{project.baselineDate}}<br/>
		Last Analysis: {{project.lastAnalysisDate}}
	</md-subheader>
	<md-card-content>
		<div layout="row" class="project-summary-row"> 
			<div layout="column" class="metric-label">Blocker Issues</div>
			<div layout="column" ng-class="'metric-diff status-' + project.blockerIssues.status()">
				<span>
					<md-tooltip md-direction="top">
						{{project.blockerIssues.first}} =&gt; {{project.blockerIssues.last}}
					</md-tooltip>
					{{project.blockerIssues.diff()}}
				</span>
			</div>
			<div layout="column" class="metric-more-info">
				<md-button class="md-secondary" ng-click="openIssuesList(project, 'BLOCKER')"><i class="material-icons">info_outline</i></md-button>
			</div>
		</div>
		<div layout="row" class="project-summary-row">
			<div layout="column" class="metric-label">Critical Issues</div>
			<div layout="column" ng-class="'metric-diff status-' + project.criticalIssues.status()">
				<span>
					<md-tooltip md-direction="top">
						{{project.criticalIssues.first}} =&gt; {{project.criticalIssues.last}}
					</md-tooltip>
					{{project.criticalIssues.diff()}}
				</span>
			</div>
			<div layout="column" class="metric-more-info">
				<md-button class="md-secondary" ng-click="openIssuesList(project, 'CRITICAL')"><i class="material-icons">info_outline</i></md-button>
			</div>
		</div>
		<div layout="row" class="project-summary-row">
			<div layout="column" class="metric-label">Other Issues</div>
			<div layout="column" ng-class="'metric-diff'">
				<span>
					<md-tooltip md-direction="top">
						{{project.otherIssues.first}} =&gt; {{project.otherIssues.last}}
					</md-tooltip>
					{{project.otherIssues.diff()}}
				</span>
			</div>
			<div layout="column" class="metric-more-info">
				<md-button class="md-secondary" ng-click="openIssuesList(project, 'MAJOR,MINOR,INFO')"><i class="material-icons">info_outline</i></md-button>
			</div>
		</div>
		<div layout="row" class="project-summary-row">
			<div layout="column" class="metric-label">Coverage (%)</div>
			<div layout="column" ng-class="'metric-diff status-' + project.coverage.status()">
				<span>
					<md-tooltip md-direction="top">
						{{project.coverage.first}} =&gt; {{project.coverage.last}}
					</md-tooltip>
					{{project.coverage.diff()}}
				</span>
			</div>
			<div layout="column" class="metric-more-info">
				<md-button class="md-secondary" ng-click="openOverview(project, 'coverage')"><i class="material-icons">info_outline</i></md-button>
			</div>
		</div>
		<div layout="row" class="project-summary-row">
			<div layout="column" class="metric-label">Duplicates (%)</div>
			<div layout="column" ng-class="'metric-diff status-' + project.duplicatedLinesDensity.status()">
				<span>
					<md-tooltip md-direction="top">
						{{project.duplicatedLinesDensity.first}} =&gt; {{project.duplicatedLinesDensity.last}}
					</md-tooltip>
					{{project.duplicatedLinesDensity.diff()}}
				</span>
			</div>
			<div layout="column" class="metric-more-info">
				<md-button class="md-secondary" ng-click="openOverview(project, 'duplications')"><i class="material-icons">info_outline</i></md-button>
			</div>
		</div>
		<div layout="row" class="project-summary-row">
			<div layout="column" class="metric-label">Function Complexity</div>
			<div layout="column" ng-class="'metric-diff status-' + project.functionComplexity.status()">
				<span>
					<md-tooltip md-direction="top">
						{{project.functionComplexity.first}} =&gt; {{project.functionComplexity.last}}
					</md-tooltip>
					{{project.functionComplexity.diff()}}
				</span>
			</div>
			<div layout="column" class="metric-more-info">
				<md-button class="md-secondary" ng-click="openOverview(project, 'structure')"><i class="material-icons">info_outline</i></md-button>
			</div>
		</div>
	</md-card-content>
</md-card>
